In [14]:
import pandas as pd
import numpy as np

df = pd.read_csv("~/Desktop/R_js/data/beta/pro8_beta.csv")
df['log_beta'] = np.absolute(np.log(df.beta))
display(df.head())
print(df.shape)
# print(df.log_beta.isna().sum())

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """

   topic          term          beta   log_beta
0      1  1_hour_break  5.790610e-05   9.756688
1      2  1_hour_break  5.790610e-05   9.756688
2      3  1_hour_break  2.270284e-09  19.903361
3      4  1_hour_break  1.715474e-11  24.788746
4      5  1_hour_break  3.770739e-10  21.698580

(53128, 4)

In [8]:
t1 = df[df.topic == 1]
display(t1.head())
print(t1.shape)

    topic                 term          beta
0       1         1_hour_break  5.790610e-05
8       1         1_hour_lunch  1.248898e-11
16      1           1_hr_lunch  8.914793e-07
24      1     10_discount_card  5.034303e-22
32      1  10_discount_flexibl  2.153390e-16

(6641, 3)

In [9]:
t2 = df[df.topic == 2]
display(t2.head())
print(t2.shape)

    topic                 term          beta
1       2         1_hour_break  5.790610e-05
9       2         1_hour_lunch  1.248898e-11
17      2           1_hr_lunch  8.914793e-07
25      2     10_discount_card  5.034303e-22
33      2  10_discount_flexibl  2.153390e-16

(6641, 3)

In [17]:
hr_brk = df[df.term == "1_hour_break"]
hr_brk.beta.sum()

0.00011582060432071348

In [25]:
df.groupby("term").agg({"beta":"sum"}).reset_index().rename(columns={"beta": "beta_sum"}).\
beta_sum.sum()

8.0

In [26]:
df.groupby("topic")["beta"].sum().reset_index()

   topic  beta
0      1   1.0
1      2   1.0
2      3   1.0
3      4   1.0
4      5   1.0
5      6   1.0
6      7   1.0
7      8   1.0

# Convert beta list to doc term frequency matrix

In [28]:
topics_beta = df.groupby("topic")["beta"].apply(list).reset_index(name="beta_list")
topics_beta.head()

   topic                                          beta_list
0      1  [5.7906101498155764e-05, 1.2488975426064313e-1...
1      2  [5.7906101508916565e-05, 1.248897542820422e-11...
2      3  [2.270284108149231e-09, 3.2030139350612363e-25...
3      4  [1.7154743960328352e-11, 5.121230172791089e-14...
4      5  [3.77073908556882e-10, 5.99141523357447e-21, 2...

In [46]:
beta_list = []
for t in range(1, 9): 
    beta_list.append(topics_beta[topics_beta.topic == t].beta_list.tolist()[0])
# print(beta_list)

col_name = t1.term.tolist()
doc_term = pd.DataFrame(beta_list, 
                       columns = col_name, 
                       index = range(1, 9))
doc_term.head(8)

,1_hour_break,1_hour_lunch,1_hr_lunch,10_discount_card,10_discount_flexibl,10_discount_groceri,10_discount_kroger,10_discount_purchas,10_discount_store,10_employe_discount,...,yearli_rais,yoga,york,youll,your,youth,youv,zero,zone,zulu
1,5.790610e-05,1.248898e-11,8.914793e-07,5.034303e-22,2.153390e-16,8.024870e-22,4.903350e-21,6.360916e-25,1.501761e-17,1.728391e-06,...,1.346442e-06,1.663363e-18,1.504696e-16,6.925385e-11,3.339898e-16,4.668749e-23,2.044418e-11,7.789080e-06,4.853007e-07,5.214906e-27
2,5.790610e-05,1.248898e-11,8.914793e-07,5.034303e-22,2.153390e-16,8.024870e-22,4.903350e-21,6.360916e-25,1.501761e-17,1.728391e-06,...,1.346442e-06,1.663363e-18,1.504696e-16,6.925385e-11,3.339898e-16,4.668749e-23,2.044418e-11,7.789080e-06,4.853007e-07,5.214906e-27
3,2.270284e-09,3.203014e-25,6.916662e-28,4.113159e-14,2.756581e-08,7.128014e-12,1.118336e-10,5.063220e-13,1.037060e-18,1.858462e-24,...,7.231081e-11,6.234319e-07,2.765407e-13,3.056460e-04,5.663555e-19,3.831852e-12,1.126346e-09,9.944597e-17,1.028783e-23,1.109448e-13
4,1.715474e-11,5.121230e-14,1.730045e-17,6.901812e-07,1.857243e-13,3.084704e-09,3.008238e-08,2.602889e-11,2.563230e-11,2.225109e-17,...,9.225727e-06,6.428780e-16,4.505246e-05,1.742968e-08,8.470323e-14,5.083446e-08,7.511142e-23,3.214002e-13,9.713004e-15,9.352944e-13
5,3.770739e-10,5.991415e-21,2.357711e-17,5.410107e-07,1.933616e-12,6.199672e-06,4.278549e-07,2.523529e-08,6.623761e-11,3.032018e-14,...,1.567317e-05,2.479685e-15,2.862331e-05,1.157290e-10,2.084360e-14,4.215135e-11,2.476006e-08,2.733959e-13,4.812733e-17,3.280324e-13
6,1.008309e-13,2.379194e-27,1.218671e-08,2.127186e-10,4.542886e-09,1.443155e-04,3.588346e-04,5.984953e-05,1.151386e-11,1.091286e-15,...,2.142206e-04,3.991627e-10,1.954343e-14,6.435619e-14,9.878776e-04,8.976735e-05,5.949634e-14,1.116902e-04,1.300939e-18,5.987137e-05
7,5.736693e-09,7.360741e-08,8.489555e-04,1.928588e-04,7.762828e-05,1.076073e-23,2.978397e-23,4.046990e-24,1.572199e-11,4.452709e-24,...,4.058921e-06,3.610182e-14,2.320026e-21,1.889509e-06,4.368726e-15,1.072809e-23,1.553020e-04,6.284896e-14,4.077926e-19,1.704618e-24
8,6.687490e-15,6.005086e-03,3.940958e-06,4.807563e-19,2.996844e-13,1.093544e-10,2.082270e-10,1.754584e-12,2.210485e-04,9.556785e-04,...,3.694000e-24,1.466927e-04,1.203793e-22,3.948301e-28,4.423394e-22,3.764605e-11,3.677572e-13,1.104751e-23,1.099069e-04,2.800658e-14

# Compute Cosine Similarity

In [67]:
from sklearn.metrics.pairwise import cosine_similarity
import math

cos_sim = cosine_similarity(doc_term, doc_term)
cos_sim = [['{:f}'.format(item) for item in item_array] for item_array in cos_sim]
cos_sim = np.array(cos_sim)
print(cos_sim)

[['1.000000' '1.000000' '0.000234' '0.011801' '0.023634' '0.480802'
  '0.008332' '0.014962']
 ['1.000000' '1.000000' '0.000234' '0.011801' '0.023634' '0.480802'
  '0.008332' '0.014962']
 ['0.000234' '0.000234' '1.000000' '0.010889' '0.004406' '0.011227'
  '0.001999' '0.004243']
 ['0.011801' '0.011801' '0.010889' '1.000000' '0.011665' '0.000705'
  '0.005601' '0.006781']
 ['0.023634' '0.023634' '0.004406' '0.011665' '1.000000' '0.000396'
  '0.045300' '0.002166']
 ['0.480802' '0.480802' '0.011227' '0.000705' '0.000396' '1.000000'
  '0.001194' '0.011331']
 ['0.008332' '0.008332' '0.001999' '0.005601' '0.045300' '0.001194'
  '1.000000' '0.021307']
 ['0.014962' '0.014962' '0.004243' '0.006781' '0.002166' '0.011331'
  '0.021307' '1.000000']]

In [69]:
df.corr()

                 topic          beta  log_beta
topic     1.000000e+00  3.701873e-17 -0.035629
beta      3.701873e-17  1.000000e+00 -0.099930
log_beta -3.562877e-02 -9.993001e-02  1.000000