In [2]:
import pandas as pd
import os 

home = os.path.expanduser("~")
data_path = home + "/Desktop/R_js/data/"

df_pro = pd.read_csv(data_path + "pro_doc_sampled.csv")
df_con = pd.read_csv(data_path + "con_doc_sampled.csv")

display(df_pro.head())
display(df_con.head())

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name
0,0,2.0,1,2017,"hour lunch, friendly co-workers.",cowork friendli hour lunch friendli_cowork hou...,"['cowork', 'friendli', 'hour', 'lunch', 'frien...",9,3.0,2.0,2.0,1.0,3.0,1,Walmart
1,1,3.0,1,2015,"benefits, Medical, dental, myshare, 401k, stocks",benefit dental medic myshar stock,"['benefit', 'dental', 'medic', 'myshar', 'stock']",5,3.0,4.0,4.0,3.0,3.0,1,Walmart
2,2,2.0,0,2012,discount card . schedule 3 on 3 off,card discount schedul discount_card,"['card', 'discount', 'schedul', 'discount_card']",4,1.0,4.0,3.0,1.0,3.0,1,Walmart
3,3,4.0,0,2017,good break lengths and plenty of hours,break hour length plenti plenti_hour,"['break', 'hour', 'length', 'plenti', 'plenti_...",5,4.0,3.0,3.0,4.0,4.0,1,Walmart
4,4,1.0,1,2016,My pay was good and my schedule allowed me to ...,allow job pay schedul pay_schedul,"['allow', 'job', 'pay', 'schedul', 'pay_schedul']",5,3.0,3.0,1.0,1.0,1.0,1,Walmart

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name
0,0,1.0,0,2019,"Management, communication, workforce, and clea...",clean commun manag manag_commun,"['clean', 'commun', 'manag', 'manag_commun']",4,1.0,1.0,1.0,1.0,1.0,1,Walmart
1,1,1.0,1,2014,ovebearing managers lack of staffing poor wages,lack manag poor staf wage manag_lack,"['lack', 'manag', 'poor', 'staf', 'wage', 'man...",6,3.0,1.0,1.0,1.0,3.0,1,Walmart
2,2,5.0,0,2015,"Benefits, associate pay, and lack of help duri...",associ benefit help holiday lack pay lack_help...,"['associ', 'benefit', 'help', 'holiday', 'lack...",8,5.0,5.0,5.0,5.0,5.0,1,Walmart
3,3,5.0,0,2018,had to waste our breaks waiting in line to pur...,break food item line wait wast,"['break', 'food', 'item', 'line', 'wait', 'wast']",6,5.0,5.0,5.0,5.0,5.0,1,Walmart
4,4,5.0,0,2019,"Short breaks, and get stationed in different d...",break depart differ short store time differ_de...,"['break', 'depart', 'differ', 'short', 'store'...",8,5.0,5.0,5.0,3.0,4.0,1,Walmart

In [3]:
df_pro['Pro_Con'] = "pro"
df_con['Pro_Con'] = "con"

display(df_pro.head())
display(df_con.head())

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name,Pro_Con
0,0,2.0,1,2017,"hour lunch, friendly co-workers.",cowork friendli hour lunch friendli_cowork hou...,"['cowork', 'friendli', 'hour', 'lunch', 'frien...",9,3.0,2.0,2.0,1.0,3.0,1,Walmart,pro
1,1,3.0,1,2015,"benefits, Medical, dental, myshare, 401k, stocks",benefit dental medic myshar stock,"['benefit', 'dental', 'medic', 'myshar', 'stock']",5,3.0,4.0,4.0,3.0,3.0,1,Walmart,pro
2,2,2.0,0,2012,discount card . schedule 3 on 3 off,card discount schedul discount_card,"['card', 'discount', 'schedul', 'discount_card']",4,1.0,4.0,3.0,1.0,3.0,1,Walmart,pro
3,3,4.0,0,2017,good break lengths and plenty of hours,break hour length plenti plenti_hour,"['break', 'hour', 'length', 'plenti', 'plenti_...",5,4.0,3.0,3.0,4.0,4.0,1,Walmart,pro
4,4,1.0,1,2016,My pay was good and my schedule allowed me to ...,allow job pay schedul pay_schedul,"['allow', 'job', 'pay', 'schedul', 'pay_schedul']",5,3.0,3.0,1.0,1.0,1.0,1,Walmart,pro

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name,Pro_Con
0,0,1.0,0,2019,"Management, communication, workforce, and clea...",clean commun manag manag_commun,"['clean', 'commun', 'manag', 'manag_commun']",4,1.0,1.0,1.0,1.0,1.0,1,Walmart,con
1,1,1.0,1,2014,ovebearing managers lack of staffing poor wages,lack manag poor staf wage manag_lack,"['lack', 'manag', 'poor', 'staf', 'wage', 'man...",6,3.0,1.0,1.0,1.0,3.0,1,Walmart,con
2,2,5.0,0,2015,"Benefits, associate pay, and lack of help duri...",associ benefit help holiday lack pay lack_help...,"['associ', 'benefit', 'help', 'holiday', 'lack...",8,5.0,5.0,5.0,5.0,5.0,1,Walmart,con
3,3,5.0,0,2018,had to waste our breaks waiting in line to pur...,break food item line wait wast,"['break', 'food', 'item', 'line', 'wait', 'wast']",6,5.0,5.0,5.0,5.0,5.0,1,Walmart,con
4,4,5.0,0,2019,"Short breaks, and get stationed in different d...",break depart differ short store time differ_de...,"['break', 'depart', 'differ', 'short', 'store'...",8,5.0,5.0,5.0,3.0,4.0,1,Walmart,con

In [8]:
df = pd.concat([df_pro, df_con], axis=0, ignore_index=True)
display(df.head())
display(df.shape)
display(df_pro.shape[0]+df_con.shape[0])

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name,Pro_Con
0,0,2.0,1,2017,"hour lunch, friendly co-workers.",cowork friendli hour lunch friendli_cowork hou...,"['cowork', 'friendli', 'hour', 'lunch', 'frien...",9,3.0,2.0,2.0,1.0,3.0,1,Walmart,pro
1,1,3.0,1,2015,"benefits, Medical, dental, myshare, 401k, stocks",benefit dental medic myshar stock,"['benefit', 'dental', 'medic', 'myshar', 'stock']",5,3.0,4.0,4.0,3.0,3.0,1,Walmart,pro
2,2,2.0,0,2012,discount card . schedule 3 on 3 off,card discount schedul discount_card,"['card', 'discount', 'schedul', 'discount_card']",4,1.0,4.0,3.0,1.0,3.0,1,Walmart,pro
3,3,4.0,0,2017,good break lengths and plenty of hours,break hour length plenti plenti_hour,"['break', 'hour', 'length', 'plenti', 'plenti_...",5,4.0,3.0,3.0,4.0,4.0,1,Walmart,pro
4,4,1.0,1,2016,My pay was good and my schedule allowed me to ...,allow job pay schedul pay_schedul,"['allow', 'job', 'pay', 'schedul', 'pay_schedul']",5,3.0,3.0,1.0,1.0,1.0,1,Walmart,pro

(66612, 16)

66612

In [9]:
df.to_csv(data_path + "combined_sampled.csv")