In [1]:
import pandas as pd
import numpy as np

num_topics = 26
proFilePath = "~/Desktop/R_js/data/pro_doc_sampled.csv"
df = pd.read_csv(proFilePath)
display(df.head(6))
print(df.shape)

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name
0,0,2.0,1,2017,"hour lunch, friendly co-workers.",cowork friendli hour lunch friendli_cowork hou...,"['cowork', 'friendli', 'hour', 'lunch', 'frien...",9,3.0,2.0,2.0,1.0,3.0,1,Walmart
1,1,3.0,1,2015,"benefits, Medical, dental, myshare, 401k, stocks",benefit dental medic myshar stock,"['benefit', 'dental', 'medic', 'myshar', 'stock']",5,3.0,4.0,4.0,3.0,3.0,1,Walmart
2,2,2.0,0,2012,discount card . schedule 3 on 3 off,card discount schedul discount_card,"['card', 'discount', 'schedul', 'discount_card']",4,1.0,4.0,3.0,1.0,3.0,1,Walmart
3,3,4.0,0,2017,good break lengths and plenty of hours,break hour length plenti plenti_hour,"['break', 'hour', 'length', 'plenti', 'plenti_...",5,4.0,3.0,3.0,4.0,4.0,1,Walmart
4,4,1.0,1,2016,My pay was good and my schedule allowed me to ...,allow job pay schedul pay_schedul,"['allow', 'job', 'pay', 'schedul', 'pay_schedul']",5,3.0,3.0,1.0,1.0,1.0,1,Walmart
5,5,5.0,0,2015,"Meeting new people, making new friends",friend meet peopl meet_peopl,"['friend', 'meet', 'peopl', 'meet_peopl']",4,5.0,2.0,5.0,3.0,5.0,1,Walmart

(33624, 15)

In [2]:
# Form Corpus
corpus = df.Px_Texts.tolist()

# Checking total number of unique words in the corpus
a = ' '.join(sent for sent in corpus)
a = a.split(" ")
a = list(set(a))
print(len(a))

14894

## Need not run this again

In [3]:
# Tfidf Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
tfidf = vectorizer.fit_transform(corpus)
# print(vectorizer.get_feature_names())
print(tfidf.shape)

(33624, 14889)

In [4]:
# KMeans Clustering

from sklearn.cluster import KMeans

num_cluster = 8 
kmeans = KMeans(n_clusters=8).fit(tfidf)

## Load K-means cluster from here

In [5]:
from sklearn.externals import joblib
import os

root = os.path.expanduser("~")
model_path = root + "/Desktop/workspace/indeed/Job-Satisfaction/data/models/cluster/"
joblib.dump(kmeans, model_path + "kmeans.pkl")

kmeans = joblib.load(model_path + "kmeans.pkl")
clusters = kmeans.labels_.tolist()

In [6]:
df["Cluster"] = clusters
df.head()

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name,Cluster
0,0,2.0,1,2017,"hour lunch, friendly co-workers.",cowork friendli hour lunch friendli_cowork hou...,"['cowork', 'friendli', 'hour', 'lunch', 'frien...",9,3.0,2.0,2.0,1.0,3.0,1,Walmart,2
1,1,3.0,1,2015,"benefits, Medical, dental, myshare, 401k, stocks",benefit dental medic myshar stock,"['benefit', 'dental', 'medic', 'myshar', 'stock']",5,3.0,4.0,4.0,3.0,3.0,1,Walmart,5
2,2,2.0,0,2012,discount card . schedule 3 on 3 off,card discount schedul discount_card,"['card', 'discount', 'schedul', 'discount_card']",4,1.0,4.0,3.0,1.0,3.0,1,Walmart,5
3,3,4.0,0,2017,good break lengths and plenty of hours,break hour length plenti plenti_hour,"['break', 'hour', 'length', 'plenti', 'plenti_...",5,4.0,3.0,3.0,4.0,4.0,1,Walmart,5
4,4,1.0,1,2016,My pay was good and my schedule allowed me to ...,allow job pay schedul pay_schedul,"['allow', 'job', 'pay', 'schedul', 'pay_schedul']",5,3.0,3.0,1.0,1.0,1.0,1,Walmart,3

In [7]:
df.Cluster.value_counts()

5    18658
3     3777
2     2528
1     2361
6     2291
7     1728
4     1462
0      819
Name: Cluster, dtype: int64

In [8]:
# vocab = vectorizer.vocabulary_
# inv_vocab = {v: k for k, v in vocab.items()}
# print(inv_vocab)

In [11]:
# print(inv_vocab[0])

In [12]:
feat_name = vectorizer.get_feature_names()
print(vectorizer.get_feature_names()[0])

050_cent_hour

In [13]:
print("Top terms per cluster: ")
print()

# print(kmeans.cluster_centers_)
order_centroids = kmeans.cluster_centers_.argsort()[:, ::-1]
# print(len(order_centroids))
# print((order_centroids))

topics = {}
for i in range(num_cluster): 
    print(f"Cluster {i}: ")
    words = [] 
    for ind in order_centroids[i, :10] :
        words.append(feat_name[ind])
    
    topics[i] = " ".join(words)
    print(", ".join(words))
    print()
    
# print(topics)

Top terms per cluster:

Cluster 0:
benefit, free, time, employe, manag, discount, opportun, environ, learn, health

Cluster 1:
peopl, meet, meet_peopl, nice_peopl, nice, benefit, help, lot, help_peopl, fun

Cluster 2:
free_lunch, lunch, free, sometim, free_lunch_sometim, lunch_sometim, occasion, time, occasion_free_lunch, holiday

Cluster 3:
lunch, hour_lunch, hour, break, lunch_break, 1_hour_lunch, minut, minut_break, hour_lunch_break, 15_minut_break

Cluster 4:
team, fast, pace, fast_pace, environ, manag, manag_team, team_build, build, team_environ

Cluster 5:
flexibl, flexibl_schedul, schedul, flexibl_hour, hour, benefit_flexibl, benefit, home, pay, time

Cluster 6:
pay, benefit, pay_benefit, decent, decent_pay, benefit_pay, hour, excel, time, cowork

Cluster 7:
balanc, worklif_balanc, worklif, life_balanc, life, benefit, benefit_life_balanc, benefit_life, balanc_benefit, benefit_worklif_balanc

In [14]:
for i in range(num_cluster): 
    df.loc[df.Cluster == i, "Topic_Words"] = topics[i]

display(df.head())
print(df.Topic_Words.isna().sum())

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name,Cluster,Topic_Words
0,0,2.0,1,2017,"hour lunch, friendly co-workers.",cowork friendli hour lunch friendli_cowork hou...,"['cowork', 'friendli', 'hour', 'lunch', 'frien...",9,3.0,2.0,2.0,1.0,3.0,1,Walmart,3,lunch hour_lunch hour break lunch_break 1_hour...
1,1,3.0,1,2015,"benefits, Medical, dental, myshare, 401k, stocks",benefit dental medic myshar stock,"['benefit', 'dental', 'medic', 'myshar', 'stock']",5,3.0,4.0,4.0,3.0,3.0,1,Walmart,0,benefit free time employe manag discount oppor...
2,2,2.0,0,2012,discount card . schedule 3 on 3 off,card discount schedul discount_card,"['card', 'discount', 'schedul', 'discount_card']",4,1.0,4.0,3.0,1.0,3.0,1,Walmart,0,benefit free time employe manag discount oppor...
3,3,4.0,0,2017,good break lengths and plenty of hours,break hour length plenti plenti_hour,"['break', 'hour', 'length', 'plenti', 'plenti_...",5,4.0,3.0,3.0,4.0,4.0,1,Walmart,0,benefit free time employe manag discount oppor...
4,4,1.0,1,2016,My pay was good and my schedule allowed me to ...,allow job pay schedul pay_schedul,"['allow', 'job', 'pay', 'schedul', 'pay_schedul']",5,3.0,3.0,1.0,1.0,1.0,1,Walmart,6,pay benefit pay_benefit decent decent_pay bene...

0

## Dissimilarity Measure between Documents

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
dist = 1 - cosine_similarity(tfidf)

print(dist)

MemoryError: Unable to allocate array with shape (33624, 33624) and data type float64

In [14]:
print(len(dist[0]))
print(len(dist))

33624
33624

In [17]:
top_dist = kmeans.cluster_centers_
print(top_dist)

print(kmeans.score)

[[0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 3.35422057e-04
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [2.10879698e-05 6.99405369e-05 3.96756008e-05 ... 4.66414709e-05
  9.61264358e-05 5.78678935e-05]
 ...
 [0.00000000e+00 2.12029933e-04 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 2.19671098e-04 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]]
<bound method KMeans.score of KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)>

## Dimensionality Reduction

In [ ]:
# Clustering
from sklearn.manifold import TSNE
# tsne = TSNE(n_components=2)
tsne = TSNE(n_components=2, verbose=1, random_state=0, angle=.99, init='pca')
X_tsne = tsne.fit_transform(tfidf.toarray())

[t-SNE] Computing 91 nearest neighbors...
[t-SNE] Indexed 33624 samples in 53.777s...

In [ ]:
# Generate random colors

import random
get_colors = lambda n: list(map(lambda i: "#" + "%06x" % random.randint(0, 0xFFFFFF),range(n)))
colormap = np.asarray(get_colors(num_topics)) 
print(colormap)

In [ ]:
df_cluster = pd.DataFrame()
df_cluster['X_tsne'] = X_tsne[:, 0]
df_cluster['Y_tsne'] = X_tsne[:, 1]
df_cluster['Topic_Num'] = df.Cluster.tolist()
df_cluster['Topic_Label'] = df.Topic_Words.tolist()
df_cluster['Document'] = df.Review_Text.tolist()

cluster_colors = dict()
for c in range(num_topics): 
    cluster_colors[c] = colormap[c]
    
df_cluster['Colors'] = df_cluster['Topic_Num'].apply(lambda l: cluster_colors[l])
df_cluster.sort_values(by=['Topic_Num'], inplace=True)

display(df_cluster.head())