In [1]:
import pandas as pd
import numpy as np

num_topics = 26
proFilePath = "~/Desktop/R_js/data/pro_doc_sampled.csv"
df = pd.read_csv(proFilePath)
display(df.head(6))
print(df.shape)

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name
0,0,2.0,1,2017,"hour lunch, friendly co-workers.",cowork friendli hour lunch friendli_cowork hou...,"['cowork', 'friendli', 'hour', 'lunch', 'frien...",9,3.0,2.0,2.0,1.0,3.0,1,Walmart
1,1,3.0,1,2015,"benefits, Medical, dental, myshare, 401k, stocks",benefit dental medic myshar stock,"['benefit', 'dental', 'medic', 'myshar', 'stock']",5,3.0,4.0,4.0,3.0,3.0,1,Walmart
2,2,2.0,0,2012,discount card . schedule 3 on 3 off,card discount schedul discount_card,"['card', 'discount', 'schedul', 'discount_card']",4,1.0,4.0,3.0,1.0,3.0,1,Walmart
3,3,4.0,0,2017,good break lengths and plenty of hours,break hour length plenti plenti_hour,"['break', 'hour', 'length', 'plenti', 'plenti_...",5,4.0,3.0,3.0,4.0,4.0,1,Walmart
4,4,1.0,1,2016,My pay was good and my schedule allowed me to ...,allow job pay schedul pay_schedul,"['allow', 'job', 'pay', 'schedul', 'pay_schedul']",5,3.0,3.0,1.0,1.0,1.0,1,Walmart
5,5,5.0,0,2015,"Meeting new people, making new friends",friend meet peopl meet_peopl,"['friend', 'meet', 'peopl', 'meet_peopl']",4,5.0,2.0,5.0,3.0,5.0,1,Walmart

(33624, 15)

In [2]:
# Form Corpus
corpus = df.Px_Texts.tolist()

# Checking total number of unique words in the corpus
a = ' '.join(sent for sent in corpus)
a = a.split(" ")
a = list(set(a))
print(len(a))

14894

## Need not run this again

In [3]:
# Tfidf Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
tfidf = vectorizer.fit_transform(corpus)
# print(vectorizer.get_feature_names())
print(tfidf.shape)

(33624, 14889)

In [4]:
# KMeans Clustering

from sklearn.cluster import KMeans

num_cluster = 8 
kmeans = KMeans(n_clusters=8).fit(tfidf)

## Load K-means cluster from here

In [5]:
from sklearn.externals import joblib
import os

root = os.path.expanduser("~")
model_path = root + "/Desktop/workspace/indeed/Job-Satisfaction/data/models/cluster/"
joblib.dump(kmeans, model_path + "kmeans.pkl")

kmeans = joblib.load(model_path + "kmeans.pkl")
clusters = kmeans.labels_.tolist()

In [6]:
df["Cluster"] = clusters
df.head()

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name,Cluster
0,0,2.0,1,2017,"hour lunch, friendly co-workers.",cowork friendli hour lunch friendli_cowork hou...,"['cowork', 'friendli', 'hour', 'lunch', 'frien...",9,3.0,2.0,2.0,1.0,3.0,1,Walmart,4
1,1,3.0,1,2015,"benefits, Medical, dental, myshare, 401k, stocks",benefit dental medic myshar stock,"['benefit', 'dental', 'medic', 'myshar', 'stock']",5,3.0,4.0,4.0,3.0,3.0,1,Walmart,6
2,2,2.0,0,2012,discount card . schedule 3 on 3 off,card discount schedul discount_card,"['card', 'discount', 'schedul', 'discount_card']",4,1.0,4.0,3.0,1.0,3.0,1,Walmart,6
3,3,4.0,0,2017,good break lengths and plenty of hours,break hour length plenti plenti_hour,"['break', 'hour', 'length', 'plenti', 'plenti_...",5,4.0,3.0,3.0,4.0,4.0,1,Walmart,6
4,4,1.0,1,2016,My pay was good and my schedule allowed me to ...,allow job pay schedul pay_schedul,"['allow', 'job', 'pay', 'schedul', 'pay_schedul']",5,3.0,3.0,1.0,1.0,1.0,1,Walmart,1

In [7]:
df.Cluster.value_counts()

6    19822
1     3980
5     2609
3     2303
2     1531
4     1222
0     1155
7     1002
Name: Cluster, dtype: int64

In [21]:
# vocab = vectorizer.vocabulary_
# inv_vocab = {v: k for k, v in vocab.items()}
# print(inv_vocab)

In [22]:
# print(inv_vocab[0])

In [26]:
feat_name = vectorizer.get_feature_names()
print(vectorizer.get_feature_names()[0])

050_cent_hour

In [41]:
print("Top terms per cluster: ")
print()

# print(kmeans.cluster_centers_)
order_centroids = kmeans.cluster_centers_.argsort()[:, ::-1]
# print(len(order_centroids))
# print((order_centroids))

topics = {}
for i in range(num_cluster): 
    print(f"Cluster {i}: ")
    words = [] 
    for ind in order_centroids[i, :10] :
        words.append(feat_name[ind])
    
    topics[i] = " ".join(words)
    print(", ".join(words))
    print()
    
# print(topics)

Top terms per cluster:

Cluster 0:
health, health_benefit, health_care, care, health_insur, insur, benefit, pay, dental, health_care_benefit

Cluster 1:
pay, benefit, pay_benefit, decent, benefit_pay, decent_pay, hour, excel, time, excel_pay

Cluster 2:
flexibl, flexibl_schedul, schedul, flexibl_hour, hour, benefit_flexibl, benefit, home, time, pay

Cluster 3:
peopl, meet, meet_peopl, nice_peopl, nice, benefit, help, lot, help_peopl, fun

Cluster 4:
friendli, co, worker, co_worker, friendli_environ, environ, friendli_cowork, cowork, friendli_peopl, manag

Cluster 5:
lunch, free_lunch, free, hour_lunch, hour, break, lunch_break, 1_hour_lunch, sometim, time

Cluster 6:
benefit, free, time, employe, manag, opportun, environ, discount, learn, paid

Cluster 7:
balanc, worklif_balanc, worklif, life_balanc, life, benefit, benefit_life_balanc, benefit_life, balanc_benefit, benefit_worklif_balanc

In [46]:
for i in range(num_cluster): 
    df.loc[df.Cluster == i, "Topic_Words"] = topics[i]

display(df.head())
print(df.Topic_Words.isna().sum())

,Unnamed: 0,Ratings,Job_Status,Reviewed_Year,Review_Text,Px_Texts,Tknz_Texts,Doc_Length,Work_Life,Benefits,Job_Advancement,Management,Culture,Company_Index,Company_Name,Cluster,Topic_Words
0,0,2.0,1,2017,"hour lunch, friendly co-workers.",cowork friendli hour lunch friendli_cowork hou...,"['cowork', 'friendli', 'hour', 'lunch', 'frien...",9,3.0,2.0,2.0,1.0,3.0,1,Walmart,4,friendli co worker co_worker friendli_environ ...
1,1,3.0,1,2015,"benefits, Medical, dental, myshare, 401k, stocks",benefit dental medic myshar stock,"['benefit', 'dental', 'medic', 'myshar', 'stock']",5,3.0,4.0,4.0,3.0,3.0,1,Walmart,6,benefit free time employe manag opportun envir...
2,2,2.0,0,2012,discount card . schedule 3 on 3 off,card discount schedul discount_card,"['card', 'discount', 'schedul', 'discount_card']",4,1.0,4.0,3.0,1.0,3.0,1,Walmart,6,benefit free time employe manag opportun envir...
3,3,4.0,0,2017,good break lengths and plenty of hours,break hour length plenti plenti_hour,"['break', 'hour', 'length', 'plenti', 'plenti_...",5,4.0,3.0,3.0,4.0,4.0,1,Walmart,6,benefit free time employe manag opportun envir...
4,4,1.0,1,2016,My pay was good and my schedule allowed me to ...,allow job pay schedul pay_schedul,"['allow', 'job', 'pay', 'schedul', 'pay_schedul']",5,3.0,3.0,1.0,1.0,1.0,1,Walmart,1,pay benefit pay_benefit decent benefit_pay dec...

0

## Dissimilarity Measure between Documents

In [48]:
from sklearn.metrics.pairwise import cosine_similarity
dist = 1 - cosine_similarity(tfidf)

print(dist)

[[-2.22044605e-16  1.00000000e+00  1.00000000e+00 ...  1.00000000e+00
   1.00000000e+00  9.57220362e-01]
 [ 1.00000000e+00  0.00000000e+00  1.00000000e+00 ...  9.69572066e-01
   9.75470055e-01  1.00000000e+00]
 [ 1.00000000e+00  1.00000000e+00  0.00000000e+00 ...  1.00000000e+00
   1.00000000e+00  1.00000000e+00]
 ...
 [ 1.00000000e+00  9.69572066e-01  1.00000000e+00 ...  0.00000000e+00
   9.70960800e-01  1.00000000e+00]
 [ 1.00000000e+00  9.75470055e-01  1.00000000e+00 ...  9.70960800e-01
  -2.22044605e-16  1.00000000e+00]
 [ 9.57220362e-01  1.00000000e+00  1.00000000e+00 ...  1.00000000e+00
   1.00000000e+00 -2.22044605e-16]]

In [50]:
print(len(dist[0]))
print(len(dist))

33624
33624

## Dimensionality Reduction

In [ ]:
# Clustering
from sklearn.manifold import TSNE
# tsne = TSNE(n_components=2)
tsne = TSNE(n_components=2, verbose=1, random_state=0, angle=.99, init='pca')
X_tsne = tsne.fit_transform(dist)

[t-SNE] Computing 91 nearest neighbors...

In [ ]:
# Generate random colors

import random
get_colors = lambda n: list(map(lambda i: "#" + "%06x" % random.randint(0, 0xFFFFFF),range(n)))
colormap = np.asarray(get_colors(num_topics)) 
print(colormap)

In [ ]:
df_cluster = pd.DataFrame()
df_cluster['X_tsne'] = X_tsne[:, 0]
df_cluster['Y_tsne'] = X_tsne[:, 1]
df_cluster['Topic_Num'] = df.Cluster.tolist()
df_cluster['Topic_Label'] = df.Topic_Words.tolist()
df_cluster['Document'] = df.Review_Text.tolist()

cluster_colors = dict()
for c in range(num_topics): 
    cluster_colors[c] = colormap[c]
    
df_cluster['Colors'] = df_cluster['Topic'].apply(lambda l: cluster_colors[l])
df_cluster.sort_values(by=['Topic'], inplace=True)

display(df_cluster.head())